* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 100px auto;
    height: 500px;
}
.form {
    text-align: center;
    margin: 50px 0;
}
.list{
    display: flex;
    justify-content: space-between;
}
.li-item {
    background-color: lightgray;
    list-style-type: none;
    padding: 10px 0;
    margin: 5px 0;
}
.removeIcon {
    margin: 0 10px;
}