/* GENERIC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    max-width: 1080px;
    margin: 100px auto;
    height: 500px;
}
/* BODY */
ul {
    padding: 0;
}
span {
    margin: 0 15px;
}
li {
    display: flex;
    align-items: center;
}
.form {
    text-align: center;
    margin: 50px 0;
}
.list{
    width: 100%;
}
.li-item {
    background-color: lightgray;
    list-style-type: none;
    padding: 10px 0;
    margin: 5px 0;
}
.removeIcon {
    margin: 0 10px;
}
.underline {
    text-decoration: line-through;
}